.opacity-100 {
  position: absolute;
  right: 0;
  max-width: 1440px;
  height: 770px;
  transition-property: opacity;
  transition-duration: 2s;
  opacity: 1;
}

.transition-opacity-0 {
  position: absolute;
  right: 0;
  max-width: 1440px;
  height: 770px;
  transition-property: opacity;
  transition-duration: 2s;
  opacity: 0;
}
